<div class="horizontal-accordion">
  <form>
    <ul>
      <li>
        <!-- lable for each art movement on the accordion -->
        <input type="radio" name="group-01" id="group-01-01" />
        <label for="group-01-01">Ancient Art</label>
        <div class="ancient-art">
          <h3>Ancient Art</h3>
          <h3>5000 BC - 300 AD</h3>
          <!-- information that is displayed when the movement is clicked -->
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/ancient-art.jpg">
            <p class="art-movement-description">Between approximately 5000 BC and 300 AD, “advanced” civilizations (generally, those with written language) thrived in Mesopotamia, Egypt, Greece, Sumeria, Akkadia, Mexico, Rome, Japan, China, and India. Art played an important role in these growing societies by providing a means to enforce religious and political order. For example, the art of ancient Egypt includes symbolic imagery alongside text (hieroglyphs) that tells stories and exalts rulers, gods, and goddesses. Although prehistoric humans made art as far back as 40,000 years ago, ancient art is considered by some to be the foundation of all of art history, with its techniques, forms, and subject matter continuing to inform the art of today.
            <a href="https://api.artsy.net/api/genes/5378c7d0ebad648603000098">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-02" />
        <label for="group-01-02">Early Medieval Art</label>
        <div class="early-medieval-art">
          <h3>Early Medieval Art</h3>
          <h3>300-1050</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/early_medieval.jpg">
            <p class="art-movement-description">Anglo-Saxon and Germanic art and architecture created between the fourth century and 1050 AD, a large part of which was also related to Early Christian and Byzantine work of the Eastern Mediterranean. During this period, artistic objects were commissioned by wealthy oligarchs or powerful church leaders for specific social and religious rituals.
            <a href="https://api.artsy.net/api/genes/4f3ab350acbecf0001000638">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-03" />
        <label for="group-01-03">Medieval Art</label>
        <div class="medieval-art">
          <h3>Medieval Art</h3>
          <h3>500-1550</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/medieval_art.jpg">
            <p class="art-movement-description">A term encompassing the wide variety of art and architecture produced during the Middle Ages, a prolonged period of economic and social stagnation in Europe and the Eastern Mediterranean that spanned roughly from the fall of the Roman Empire in 476 AD to the early stages of the Renaissance (1400s). Though art historians debate the specific stylistic and chronological divisions of the Medieval, a generally-accepted sequence identifies the following periods: Early Medieval Art, Romanesque Art, and Gothic Art.
            <a href="https://api.artsy.net/api/genes/4f19e3feebab7d00010001e6">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-04" />
        <label for="group-01-04">Romanesque Art</label>
        <div class="romanesque-art">
          <h3>Romanesque Art</h3>
          <h3>1000-1150</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/romanesque_art.jpg">
            <p class="art-movement-description">The first style to be identified within Medieval Art. While it initially referred to the architectural style developed between the 11th and mid-12th centuries in Western Europe, Romanesque has recently been extended to include other areas of artistic production, including sculpture and painting. Major characteristics of Romanesque art exist in churches or monasteries and include vaulted ceilings and rounded or pointed arches. Romanesque sculptural decoration comes in the form of figurative capitals atop dense columns or bronze reliefs carved into doors and tympanums over entryways.
            <a href="https://api.artsy.net/api/genes/4f3ab366fcb3ae00010005b9">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-05" />
        <label for="group-01-05">Renaissance Art</label>
        <div class="renaissance-art">
          <h3>Renaissance Art</h3>
          <h3>1400-1600</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/renaissance_art.jpg">
            <p class="art-movement-description">European art created between the 14th and 16th centuries that drew inspiration from ancient Greek and Roman cultures. The term refers to the renewed effort of artists to achieve exact representations of nature and idealized forms of the human body, which radically departed from the appearance of art and architecture of the preceding Middle Ages. While the Early Renaissance period in Italy drew from Byzantine aesthetics, the High Renaissance returned to forms from classical antiquity.
            <a href="https://api.artsy.net/api/genes/4d9396db17cb13253700048a">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-06" />
        <label for="group-01-06">Early Renaissance</label>
        <div class="early-renaissance-art">
          <h3>Early Renaissance</h3>
          <h3>1400-1450</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/early_renaissance.jpg">
            <p class="art-movement-description">Artwork produced in Europe in the late fourteenth and early fifteenth centuries that moved away from the predominant Medieval or Gothic styles of the time—as seen in the abstracted icon paintings of church altarpieces and frescoes—and experimented with forms of naturalism. The political and economic development from feudal states to cohesive city-states, and the rise of powerful patrons that followed allowed artists like <a href="http://localhost:3000/search?search=Duccio">Duccio</a>, <a href="http://localhost:3000/search?search=Giotto">Giotto</a>, <a href="http://localhost:3000/search?search=Giovanni+Pisano">Giovanni Pisano</a>, and Tomaso da Modena to focus on secular portraiture and sculpture.
            <a href="https://api.artsy.net/api/genes/4f26f2e004ea5c0001000167">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-07" />
        <label for="group-01-07">High Renaissance</label>
        <div class="high-renaissance-art">
          <h3>High Renaissance</h3>
          <h3>1450-1540</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/high-renaissance.jpg">
            <p class="art-movement-description">Spanning the late 15th and early 16th centuries in Italy, the High Renaissance is often acknowledged as the height of artistic achievement in post-medieval Europe. Culminating during a prolonged cultural awakening and marked by the pursuit of humanist ideals like naturalism, proportion, and Classical bodily forms in painting, sculpture, and architecture, the High Renaissance also encompassed the careers of <a href="http://localhost:3000/search?search=Leonardo+da+Vinci">Leonardo da Vinci</a>, <a href="http://localhost:3000/search?search=Raphael">Raphael</a>, and <a href="http://localhost:3000/search?search=Michelangelo">Michelangelo</a>. Da Vinci emerged as the most influential artist and thinker of the time (and perhaps in the history of Western art). The legacy of the High Renaissance is primarily seen through the continued use of da Vinci’s innovative approaches to art making, such as freehand sketching and subtle tonal gradation (also known as sfumato).
            <a href="https://api.artsy.net/api/genes/4f26f327dc7f670001000126">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-08" />
        <label for="group-01-08">Baroque Art</label>
        <div class="baroque-art">
          <h3>Baroque Art</h3>
          <h3>1600-1725</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/baroque.jpg">
            <p class="art-movement-description">The major European artistic style of the 17th into 18th centuries. Though the term is now outdated because of its extreme variance of styles, historically it refers to a style that departs from a strict representation of forms to embrace the more fantastic, bizarre, excessive, and elaborate, especially in terms of architecture.
            <a href="https://api.artsy.net/api/genes/4d90d194dcdd5f44a50000ad">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-09" />
        <label for="group-01-09">Rococo Art</label>
        <div class="rococo-art">
          <h3>Rococo Art</h3>
          <h3>1720-1760</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/rococo.jpg">
            <p class="art-movement-description">Derived from the French word rocaille (meaning “rock-work”) and Italian borocco (“Baroque”), Rococo was a highly ornamented and florid style popular in 18th-century Europe, especially in France. It was characterized by pastel colors, sinuous curves, and asymmetrical patterns based on flowers, vines, corals, and seashells. Reacting against the Baroque style, Rococo artists favored more intimate mythological scenes, idyllic pastoral imagery, and lighthearted depictions of pleasure-seeking. Although rejected by the Neoclassicists, the style enjoyed periods of renewed interest, such as during Rococo Revival in the mid-19th century.
            <a href ="https://api.artsy.net/api/genes/4f147e28e79a750001000317">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-10" />
        <label for="group-01-10">Neoclassicism</label>
        <div class="neoclassicism-art">
          <h3>Neoclassicism</h3>
          <h3>1760-1830</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/neoclassicism.jpg">
            <p class="art-movement-description">Mid-18th-century to mid-19th-century artworks strongly influenced by ancient Greek and Roman art, particularly for its compositional order and simplification of imagery. Archaeological discoveries of the time brought the work of these ancient civilizations to the attention of Neoclassicists. The structured approach to historical subject matter in Neoclassical work was seen as the opposite of the ornamentation of the preceding Rococo movement. Concurrently with, and in the face of, Neoclassicism, Romanticism was also emerging.
            <a href="https://api.artsy.net/api/genes/4f4bf180fe950c0001001909">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-11" />
        <label for="group-01-11">Romanticism Art</label>
        <div class="romanticism-art">
          <h3>Romanticism Art</h3>
          <h3>1800-1850</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/romanticism.png">
            <p class="art-movement-description">An artistic movement with its origins in literature, Romanticism was prominent in Western European art from roughly 1800-1850, embracing emotional intensity, subjectivity, and the imagination. Arising in Germany, England, and France, and opposing the rationalism and order of the church, state, Enlightenment thought, and Neoclassical art, Romanticism was associated with some of the best known Western artists of the 19th century, including <a href="http://localhost:3000/search?search=Th%C3%A9odore+G%C3%A9ricault">Théodore Géricault</a>, <a href="http://localhost:3000/search?search=Francisco+de+Goya">Francisco de Goya</a>, <a href="http://localhost:3000/search?search=J.M.W.+Turner">J.M.W. Turner</a>, and <a href="http://localhost:3000/search?search=John+Constable">John Constable</a>. The unpredictability, sublime power and chaos of nature were a common subject for Romantic works, as were exotic experiences in regions like what was called “The Orient” (the East) and North Africa, particularly Morocco and Algeria.
            <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a500006b">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-12" />
        <label for="group-01-12">Realism Art</label>
        <div class="realism-art">
          <h3>Realism Art</h3>
          <h3>1840-1880</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/realism.jpg">
            <p class="art-movement-description">Though never a coherent group, Realism is recognized as the first modern movement in art, which rejected traditional forms of art, literature, and social organization as outmoded in the wake of the Enlightenment and the Industrial Revolution. Beginning in France in the 1840s, Realism revolutionized painting, expanding conceptions of what constituted art. Working in a chaotic era marked by revolution and widespread social change, Realist painters replaced the idealistic images and literary conceits of traditional art with real-life events, giving the margins of society similar weight to grand history paintings and allegories.
            <a href="http://www.theartstory.org/movement-realism.htm">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-13" />
        <label for="group-01-13">Pre-Raphaelite Art</label>
        <div class="pre-raphaelite-art">
          <h3>Pre-Raphaelite Art</h3>
          <h3>1848-1854</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/preraphaelite.jpg">
            <p class="art-movement-description">A movement of English artists—founded in 1848 by <a href="http://localhost:3000/search?search=Dante+Gabriel+Rossetti">Dante Gabriel Rossetti</a>, <a href="http://localhost:3000/search?search=Sir+John+Everett+Millais">John Everett Millais</a>, and <a href="http://localhost:3000/search?search=William+Holman+Hunt">William Holman Hunt</a> who aspired to paint in a style reminiscent of the artists working before Raphael's time, during the late medieval and early Renaissance periods of Italian painting. The Pre-Raphaelites emphasized naturalism and light. Their subject matter was often borrowed from literary sources such as the Bible, William Shakespeare, and John Keats, with underlying moral themes of piety, justice, and family.
            <a href="https://api.artsy.net/api/genes/4ef25b3f2afe090001000ccd">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-14" />
        <label for="group-01-14">Arts & Crafts Movement</label>
        <div class="arts-and-crafts-art">
          <h3>Arts & Crafts Movement</h3>
          <h3>1860-1920</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/arts_and_crafts.jpg">
            <p class="art-movement-description">A movement that emerged during the late 19th century in reaction to the Industrial Revolution in England, at the time the most industrialized nation in the world. It focused on craftsmanship and forms of art and design belonging to the age before mass production. Although the movement did not promote a specific style, many Arts & Crafts works emphasize ties to medieval architecture and nature and stress formal simplicity.
            <a href="https://api.artsy.net/api/genes/4d90d18fdcdd5f44a5000030">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-15" />
        <label for="group-01-15">Impressionism</label>
          <div class="impressionism-art">
            <h3>Impressionism</h3>
            <h3>1870-1900</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/impressionism.jpg">
              <p class="art-movement-description">A revolutionary 19th-century movement in French painting, lasting from roughly 1867 to 1886, that rebelled against the academic historical subject matter and methods. Striving to capture the transient aspects of visual reality, especially light and color.  Impressionists--the most familiar being <a href="http://localhost:3000/search?search=Claude+Monet">Claude Monet</a> and <a href="http://localhost:3000/search?search=Pierre-Auguste+Renoir">Pierre Auguste Renoir</a> --emphasized firsthand observation of their subjects and focused on landscapes and everyday urban scenes. Like many subsequent avant-garde movements, it derived its name from a derisive label applied in a negative review. Impressionism spread beyond France, most notably to Great Britain and the United States.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a500004e">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-16" />
        <label for="group-01-16">Post-Impressionism</label>
        <div class="post-impressionism-art">
          <h3>Post-Impressionism</h3>
          <h3>1880-1914</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/post_impressionism.jpg">
              <p class="art-movement-description">A movement primarily centered on four artists—<a href="http://localhost:3000/search?search=Paul+Gauguin">Pa​​ul Gauguin</a>, <a href="http://localhost:3000/search?search=Georges+Seurat">Georges Seurat</a>, <a href="http://localhost:3000/search?search=Vincent+van+Gogh">Vincent van Gogh</a>, and <a href="http://localhost:3000/search?search=Paul+C%C3%A9zanne">Paul Cézanne</a>—who in the late 1880s sought to break free from Impression​​ism. Though all markedly different,​​ these four artists—as well as other artists associated with the movement—were united both in their rejection of Impression​​ism’s emphasis on optical perception​​ and in their preference​​ for painting that expressed emotion and symbolism,​​ often through reduced colors and forms and an increased focus on subjective​​ imagery.
              <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a5000065">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-17" />
        <label for="group-01-17">Symbolism</label>
        <div class="symbolism-art">
          <h3>Symbolism</h3>
          <h3>1880-1910</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/symbolism.jpg">
            <p class="art-movement-description">A late 19th-century European movement, generally rooted in Romanticism, that was originally literary but expanded to the visual arts, where it was manifested as the painting of ideas. Although the term itself was much debated and the works to which it applied involved a vast array of concepts and concerns, Symbolism generally sought to counter 19th-century materialist thought and the Industrial Revolution with an involvement in emotions, the artificial and unnatural, spiritual life, and earlier models of experience.
            <a href="https://api.artsy.net/api/genes/4d90d193dcdd5f44a5000072">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-18" />
        <label for="group-01-18">Art Nouveau</label>
        <div class="art-nouveau-art">
          <h3>Art Nouveau</h3>
          <h3>1890-1905</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/art_nouveau.jpg">
            <p class="art-movement-description">An international movement that originated in the mid-1890s in Belgium and France and was known in other countries by other names, such as Jugendstil (Germany and Austria), Modernisme (Catalonia), and Tiffany style (United States). Practitioners sought to break with the past, creating a style of ornamentation applicable to architecture, interior design, and objects that were not based on Classical or Renaissance forms. Instead, Japanese art was a particular influence, as were exotic flowers and plants.
            <a href="https://api.artsy.net/api/genes/4d90d18fdcdd5f44a500002e">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-19" />
        <label for="group-01-19">Fauvism</label>
        <div class="fauvism-art">
          <h3>Fauvism</h3>
          <h3>1899-1908</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/fauvism.jpg">
              <p class="art-movement-description">The first modern-art movement of the 20th century, characterized by an expressive, often rough style of painting emphasizing bright colors and simplified forms and inspired by such Post-Impressionists as <a href="http://localhost:3000/search?search=Paul+Gauguin">Paul Gauguin</a>, <a href="http://localhost:3000/search?search=Paul+C%C3%A9zanne">Paul Cézanne</a>, and <a href="http://localhost:3000/search?search=Vincent+van+Gogh">Vincent van Gogh</a>. The first Fauvist exhibition, at the Salon d’Automne in 1905, began the long tradition of modern and contemporary art, shocking the public and prompting the critic Louis Vauxcelles to dub the painters Fauves, French for “wild beasts.” <a href="http://localhost:3000/search?search=Henri+Matisse">Henri Matisse</a>, who would become one of the most important figures in modern art, was the most significant member of the group.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000044">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-20" />
        <label for="group-01-20">Vienna Secession</label>
        <div class="vienna-secession-art">
          <h3>Vienna Secession</h3>
          <h3>1897-2010</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/vienna_secession.jpg">
              <p class="art-movement-description">In 1897, <a href="http://localhost:3000/search?search=Gustav+Klimt">Gustav Klimt</a> and his circle of artists sought to create their own unique artistic identity outside the confines of the Künstlerhaus, the traditional art academy in Vienna. The Vienna Secession, as it quickly became known, hoped to promote modern art at every level of society by presenting exhibitions free from the strict guidelines of Vienna’s annual salon. This pioneering group, closely associated with Art Nouveau, also strove to create a new style of architecture. Notable members of the Vienna Secession included <a href="http://localhost:3000/search?search=Josef+Hoffmann">Josef Hoffmann</a>, <a href="http://localhost:3000/search?search=Koloman+Moser">Koloman Moser</a>, and <a href="http://localhost:3000/search?search=Carl+Moll">Carl Moll</a>, in addition to Wagner and Klimt. By 1905, Klimt and his followers had left the group; however, the Vienna Secession continued to influence modern art throughout the 20th century.
              <a href="https://api.artsy.net/api/genes/4de6871ead506e00010054eb">More info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-21" />
        <label for="group-01-21">Ashcan School</label>
        <div class="ashcan-school-art">
          <h3>Ashcan School</h3>
          <h3>1900-1915</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/ashcan_school.jpg">
              <p class="art-movement-description">First applied in the 1930s to early 20th-century American urban realist painters such as the Eight, whose members included <a href="http://localhost:3000/search?search=George+Benjamin+Luks">George Luks</a>, <a href="http://localhost:3000/search?search=Robert+Henri">Robert Henri</a>, <a href="http://localhost:3000/search?search=John+Sloan">John Sloan</a>, and <a href="http://localhost:3000/search?search=William+James+Glackens">William Glackens</a>. Ashcan artists presented ordinary aspects of city life with a particular vitality in opposition to the late 19th-century aesthetic, which stressed refined painting techniques, appropriate subject matter, and art for art’s sake. Generally considered revolutionary in the United States, the movement had clear precedents in the French 19th-century avant-garde.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000031">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-22" />
        <label for="group-01-22">Expressionism</label>
        <div class="expressionism-art">
          <h3>Expressionism</h3>
          <h3>1905-1925</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/expressionism.jpg">
            <p class="art-movement-description">Expressionism is a label for an international tendency—as opposed to a coherent movement—in art, literature, music, theater, and architecture that lasted from approximately 1905 to 1920, predominantly in Europe. Expressionist art was often characterized by spontaneous brushwork or mark-making, distorted figures, a progression towards abstraction, and a concentration on forms and ideas borrowed from myths and so-called “primitive art.” In reaction to the shock of urbanization and the machine age, many of these artists attempted to convey psychological states of isolation and alienation or sought refuge in the idea of spiritual art. In Germany, the formal experiments of <a href ="http://localhost:3000/search?search=Wassily+Kandinsky">Wassily Kandinsky</a> combined new forms and color combinations with a focus on mysticism and expression.
            <a href="https://api.artsy.net/api/genes/53c801277261695ed8c70100">More Info</a></p>
          </div>
        </div>
      </li>


      <li>
        <input type="radio" name="group-01" id="group-01-23" />
        <label for="group-01-23">Cubism</label>
        <div class="cubism-art">
          <h3>Cubism</h3>
          <h3>1908-1920</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/cubism.jpg">
            <p class="art-movement-description">Cubism was the most important movement of the 20th century and marked the birth of abstract art. Invented and pursued by <a href="http://localhost:3000/search?search=Pablo+Picasso">Pablo Picasso</a> and <a href="http://localhost:3000/search?search=Georges+Braque">Georges Braque</a> in Paris between 1907 and 1914 and inspired by the simplified landscapes of <a href="http://localhost:3000/search?search=Paul+C%C3%A9zanne">Paul Cézanne</a>, Cubism took the revolutionary step of rejecting the 500-year-old idea that a painting was like a window, thus ruled by perspective. Instead, Picasso and Braque created more conceptual, subjective paintings that sought to represent the underlying structure of existence. The best-known Cubist works look like shattered glass in dim browns and yellows and are composed of various sharp planes that combine to form people or objects. Cubism took its name from an insult delivered by the critic Louis Vauxcelles, who commented that one of Braque’s paintings looked as if it were “full of little cubes.”
            <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a500003e">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-24" />
        <label for="group-01-24">Futurism</label>
        <div class="futurism-art">
          <h3>Futurism</h3>
          <h3>1909-1918</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/futurism.jpg">
            <p class="art-movement-description">Futurism began with the 1909 publication of <a href="http://localhost:3000/search?search=Filippo+Tommaso+Marinetti">F.T. Marinetti</a>’s Futurist Manifesto, which announced a new literature that would glorify danger, energy, and war. While best known for a dynamic style of painting and sculpture that captured speed and movement as if in time-lapse, Futurist artists created “total works of art” (performance, installation, fashion, and more). Though many leading Futurists died in World War I, a “second Futurism” followed, which allied itself with the fascist politics of Mussolini.
            <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000047">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-25" />
        <label for="group-01-25">Abstract</label>
        <div class="abstract-art">
          <h3>Abstract</h3>
          <h3>1910-Present</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/abstract_art.jpg">
            <p class="art-movement-description">While abstraction is evident around the world in art and functional objects, its art-historical significance is a category for 20th-century Western art that moved away from the faithful representation of nature. The origins of abstraction are commonly located in the works of <a href="http://localhost:3000/search?search=Gustave+Courbet">Gustave Courbet</a>, <a href="http://localhost:3000/search?search=%C3%89douard+Manet">Édouard Manet</a>, the Impressionists, as well as in the early 1900s, when <a href="http://localhost:3000/search?search=Paul+C%C3%A9zanne">Paul Cézanne</a>'s stylized, flattened forms influenced what would eventually be called the Cubism of <a href="http://localhost:3000/search?search=Pablo+Picasso">Pablo Picasso</a> and <a href="http://localhost:3000/search?search=Georges+Braque">Georges Braque</a>. Arguably the first abstract art movement, Cubism would prove foundational to countless branches of abstract art, including Futurism in Italy.
            <a href="https://api.artsy.net/api/genes/504fb4584ed2d60002000344">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-26" />
        <label for="group-01-26">Performance Art</label>
        <div class="performance-art">
          <h3>Performance Art</h3>
          <h3>1910-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/performance_art.jpg">
              <p class="art-movement-description">A genre of art-making, with origins in Futurism and Dadaism, in which the artwork is the artist performing—usually live but often in a film or video. Performances started occurring in art contexts—galleries, artists studios, museums—in the 1960s, with the rise of Happenings and Fluxus. In the '60s and '70s, artists such as <a href="http://localhost:3000/search?search=Bruce+Nauman">Bruce Nauman</a>, <a href="http://localhost:3000/search?search=Marina+Abramovi%C4%87">Marina Abramovic</a>, and <a href="http://localhost:3000/search?search=Chris+Burden">Chris Burden</a> explored the possibilities of performance particularly in works which focused on the body (and often the abuse of it). The rise of performance was directly linked to the rise of Conceptual Art and Process Art in the late 1960s: Conceptual Art privileged an object-less art, while Process Art foregrounded the act of making a work over the final piece.
              <a href="https://api.artsy.net/api/genes/4d90d18edcdd5f44a5000011">More Info</a></p>
            </div>
        </div>
      </li>


      <li>
        <input type="radio" name="group-01" id="group-01-27" />
        <label for="group-01-27">International Style</label>
        <div class="international-style-art">
          <h3>International Style</h3>
          <h3>1914-1970</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/international_style.jpg">
              <p class="art-movement-description">The International Style describes a trend in early 20th-century architecture characterized by modern, pared-down buildings largely devoid of ornamentation. In 1932, art historian Henry-Russell Hitchcock and architect <a href="http://localhost:3000/search?search=Philip+Johnson">Philip Johnson</a> co-curated Modern Architecture: International Exhibition—the first architecture show at the Museum of Modern Art—coining the term “International Style” to describe the streamlined designs of <a href="http://localhost:3000/search?search=Walter+Gropius">Walter Gropius</a>, <a href="http://localhost:3000/search?search=Ludwig+Mies+van+der+Rohe">Ludwig Mies van der Rohe</a>, and <a href="http://localhost:3000/search?search=Le+Corbusier">Le Corbusier</a>. Their buildings were at the forefront of technological advancement, featuring cantilever constructions, iron and steel frames, and reinforced concrete. The exteriors of these modern buildings were lined with bands of windows, making them appear visually weightless. More familiarly, International Style skyscrapers like the Seagram Building in Chicago continue to dominate skylines across the globe.
              <a href="https://api.artsy.net/api/genes/509c222d98201270e00008ff">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-28" />
        <label for="group-01-28">Constructivism</label>
        <div class="constructivism-art">
          <h3>Constructivism</h3>
          <h3>1915-1938</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/constructivism.jpg">
              <p class="art-movement-description">A 20th-century movement in painting, sculpture, photography, design, and architecture that began in Russia in the late teens and quickly reached an international audience. Its antecedents were Cubism and the Futurism exemplified in <a href="http://localhost:3000/search?search=Vladimir+Tatlin">Vladimir Tatlin</a>’s 1913 reliefs and three-dimensional geometric constructions. Influenced by Tatlin’s ideas—as well as by the optimism and confidence inspired by the Russian Revolution—such artists as <a href="http://localhost:3000/search?search=El+Lissitzky">El Lissitzky</a> sought to ‘construct’ works that combined geometric compositions with images from modern technology and industry, considering themselves ‘artist-engineers.’
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a500003d">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-29" />
        <label for="group-01-29">Suprematiam</label>
        <div class="suprematism-art">
          <h3>Suprematism</h3>
          <h3>1915-1928</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/suprematism.jpg">
              <p class="art-movement-description">Coined by Russian painter Kazimir Malevich in 1915, Suprematism declared a break with traditional modes of representation, embracing geometric abstraction and aiming to revolutionize artistic practice with an autonomous visual language of "pure artistic feeling." Malevich stridently announced Suprematism's arrival with the staging of "The last Futurist exhibition of paintings," self-consciously positioning himself against the reigning avant-garde movements of the time and declaring a total rupture with the art of the past. It was there that Malevich displayed his seminal Black Square painting (1915), which realized his idea of the "zero form" of art, a “pure” art that excluded figurative imagery in the pursuit of capturing profound, abstract ideas such as infinity and the sublime.
              <a href="https://api.artsy.net/api/genes/4d9396db17cb132537000489">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-30" />
        <label for="group-01-30">Dada</label>
        <div class="dada-art">
          <h3>Dada</h3>
          <h3>1916-1923</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/dada.jpg">
            <p class="art-movement-description">A movement originating in Zurich in 1916 as a reaction both to the chaos of Western society in the wake of World War I and to bourgeois society, which was seen as having produced the war. It is characterized by the rejection of old forms of artmaking in favor of an anti-art that asserts art’s irrelevance and explores new forms of creation. Dadaists are usually divided into two camps: those creating from anger and frustration and those embracing the absurd. Prominent adherents include Francis Picabia and <a href="http://localhost:3000/search?search=Marcel+Duchamp">Marcel Duchamp</a>, both of whom sought in their work to destabilize artistic dogmas, particularly traditional formal strategies and concepts of artistic meaning.
            <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a500003f">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-31" />
        <label for="group-01-31">De Stijl</label>
        <div class="de-stijl-art">
          <h3>De Stijl</h3>
          <h3>1917-1931</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/de_stijl.jpg">
              <p class="art-movement-description">A movement started by a group of Dutch artists based in Amsterdam—the best known being <a href="http://localhost:3000/search?search=Piet+Mondrian">Piet Mondrian</a> and <a href="http://localhost:3000/search?search=Theo+van+Doesburg">Theo van Doesburg</a>—who sought to express an idea of balance and harmony in both art and life and whose ideas were disseminated by the magazine De Stijl, launched by Van Doesburg in 1917. The major creative influence within the group was Mondrian, who in pursuit of a purer nonobjective abstraction (lacking a representational tie to any object or form) than that achieved in Cubism, created reductive works composed of only straight lines, rectangles, and blocks of primary colors. The movement’s ideas had a pivotal role in the formation of Bauhaus practices and the emergence of the International Style.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000040">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-32" />
        <label for="group-01-32">Bauhaus</label>
        <div class="bauhaus-art">
          <h3>Bauhaus</h3>
          <h3>1919-1933</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/bauhaus.jpg">
              <p class="art-movement-description">A school of art, architecture, and design founded in Germany by <a href="http://localhost:3000/search?search=Walter+Gropius">Walter Gropius</a> and based between 1919 and 1925 in Weimar, between 1925 and 1932 in Dessau, and between 1932 and 1933 in Berlin, where it was shut down by the Nazis. Named after the medieval Bauhütten, or masons’ lodges, and inspired by the ideas of <a href="http://localhost:3000/search?search=John+Ruskin">John Ruskin</a> and <a href="http://localhost:3000/search?search=William+Morris">William Morris</a>, the Bauhaus is best known for reintroducing workshop training in lieu of traditional studio art education; unifying artistic creativity and manufacturing; emphasizing functionalism in architecture and revolutionizing streamlined industrial design.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000034">More info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-33" />
        <label for="group-01-33">Mexican Muralism</label>
        <div class="mexican-muralism-art">
          <h3>Mexican Muralism</h3>
          <h3>1920-1950</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/mexican_muralism.jpg">
              <p class="art-movement-description">A movement, inspired by the idealism of the Mexican Revolution, that stressed the country’s indigenous, pre-European history and culture. The works were typically political, epic in scope, and executed in public places to increase the Mexican people’s awareness of and pride in their heritage. The best-known muralists are <a href="http://localhost:3000/search?search=Jos%C3%A9+Clemente+Orozco">José Clemente Orozco</a> and <a href="http://localhost:3000/search?search=Diego+Rivera">Diego Rivera</a>
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a5000053">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-34" />
        <label for="group-01-34">Precisionism</label>
        <div class="precisionism-art">
          <h3>Precisionism</h3>
          <h3>1920-1940</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/precisionism.jpg">
            <p class="art-movement-description">A term coined in 1927 by MoMA’s first director Alfred H. Barr Jr. to describe American artists of the 1920s who depicted American architecture, industry, and landscapes in highly precise but simplified lines and forms. Although influenced by Cubism and its various European offshoots (such as Futurism and Purism), the Precisionists were distinctly American in their focus on regional imagery like skyscrapers, suspension bridges, and mills. Some of the best-known artists understood as Precisionist are <a href="http://localhost:3000/search?search=Charles+Sheeler">Charles Sheeler</a>, <a href="http://localhost:3000/search?search=Charles+Demuth">Charles Demuth</a>, and <a href="http://localhost:3000/search?search=Georgia+O%27Keeffe">Georgia O'Keeffe</a>. Historically, the Precisionists' emphasis on American building projects and industry has been seen as a reflection of the 1920s and ‘30s American isolationism and consequently, the country’s desire to define its unique national identity.
            <a href="https://api.artsy.net/api/genes/4f4c447c31e1c50001000cb5">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-35" />
        <label for="group-01-35">Surrealism</label>
        <div class="surrealism-art">
          <h3>Surrealism</h3>
          <h3>1920-Present</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/surrealism.jpg">
            <p class="art-movement-description">A movement embracing the irrational as a means of creating art and experiencing life, whose founding document is the Surrealist Manifesto composed by André Breton in 1924. Taking pure psychic automatism as the ideal state of man, Surrealists believed that one could express the true functioning of thought in the unconscious. Initially, the most important aspect of the unconscious was desire, which they felt was central to humanity—the authentic voice of the inner self and the key to understanding human beings. Dreams, childhood, madness, non-Western art, and chance situations became central to discovering the irrational in Surrealist art.
            <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a5000071">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-36" />
        <label for="group-01-36">Art Deco</label>
        <div class="art-deco-art">
          <h3>Art Deco</h3>
          <h3>1920-1935</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/art_nouveau.jpg">
              <p class="art-movement-description">An international movement that originated in the mid-1890s in Belgium and France and was known in other countries by other names, such as Jugendstil (Germany and Austria), Modernisme (Catalonia), and Tiffany style (United States). Practitioners sought to break with the past, creating a style of ornamentation applicable to architecture, interior design, and objects that were not based on Classical or Renaissance forms. Instead, Japanese art was a particular influence, as were exotic flowers and plants.
              <a href="https://api.artsy.net/api/genes/4d90d18fdcdd5f44a500002e">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-37" />
        <label for="group-01-37">Social Realism</label>
        <div class="social-realism-art">
          <h3>Social Realism</h3>
          <h3>1929-1958</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/social_realism.jpg">
              <p class="art-movement-description">Art drawing attention to social injustice, exemplified by the work of American artists of the 1920s and ’30s like <a href="http://localhost:3000/search?search=Ben+Shahn">Ben Shahn</a>, <a href="http://localhost:3000/search?search=Thomas+Hart+Benton">Thomas Hart Benton</a>, <a href="http://localhost:3000/search?search=Walker+Evans">Walker Evans</a>, and <a href="http://localhost:3000/search?search=Dorothea+Lange">Dorothea Lange</a>, as well Ashcan School painters. The label has also been applied to the approach of 19th-century French Realism, the Mexican muralism of the 1920s and ‘30s, and the Neue Sachlichkeit of Weimar Germany.
              <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a500006e">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-38" />
        <label for="group-01-38">Abstract Expressionism</label>
        <div class="abstract-expressionism-art">
          <h3>Abstract Expressionism</h3>
          <h3>1945-1955</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/abstract_expressionism.jpg">
              <p class="art-movement-description">Abstract Expressionism signaled a new age of American artistic expression in the immediate postwar period (the late 1940s and 1950s). Though never a formal movement or school, “AbEx” grouped together artists—including <a href="http://localhost:3000/search?search=Jackson+Pollock">Jackson Pollock</a>, <a href="http://localhost:3000/search?search=Willem+de+Kooning">Willem de Kooning</a>, <a href="http://localhost:3000/search?search=Mark+Rothko">Mark Rothko</a>, and <a href="http://localhost:3000/search?search=Clyfford+Still">Clyfford Still</a>, amongst others—with interest in spontaneity, monumental size, the individual psyche, and universal expressions of feeling. Historically, AbEx has been broken into two tendencies: Gestural Abstraction (or Action Painting), which emphasized the energy of the painter’s mark, and Color Field Painting, which focused on the creation of vast, seemingly floating areas of color.
              <a href="https://api.artsy.net/api/genes/52277c7debad644d2800051f">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-39" />
        <label for="group-01-39">Neo-Dada</label>
        <div class="neo-dada-art">
          <h3>Neo-Dada</h3>
          <h3>1952-1970</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/neo_dada.jpg">
              <p class="art-movement-description">A style appearing in the United States in the late 1950s that in its methods and concerns recall Dada, whose ideas were introduced to American artists by the composer <a href="http://localhost:3000/search?search=John+Cage">John Cage</a>. Rejecting the overblown rhetoric and adamant configuration of Abstract Expressionism, which then dominated the American avant-garde, Neo-Dadaists embraced depictions of the real world and strove to integrate art and life through the use of real objects in paintings and sculpture. Two principal adherents are <a href="http://localhost:3000/search?search=Robert+Rauschenberg">Robert Rauschenberg</a> and <a href="http://localhost:3000/search?search=Jasper+Johns">Jasper Johns</a>.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a5000058">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-40" />
        <label for="group-01-40">Kinetic Sculpture</label>
        <div class="kinetic-sculpture-art">
          <h3>Kinetic Sculpture</h3>
          <h3>1954-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/kinetic_sculpture.jpg">
              <p class="art-movement-description">Sculptures that include moving parts. <a href="http://localhost:3000/search?search=Marcel+Duchamp">Marcel Duchamp</a>'s 1913 Bicycle Wheel is considered the first such work. Although they were made throughout the 20th century—by artists associated with Constructivism and the Bauhaus, for example—and continue to be made today, kinetic sculptures’ heyday was during the 1950s and 1960s, when <a href="http://localhost:3000/search?search=Alexander+Calder">Alexander Calder</a> and <a href="http://localhost:3000/search?search=Jean+Tinguely">Jean Tinguely</a> were the best-known practitioners. Calder became famous for his mobiles and Tinguely for his 1960 Homage to New York, a kind of junk machine that destroyed itself in the sculpture garden of the Museum of Modern Art.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a5000050">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-41" />
        <label for="group-01-41">Pop Art</label>
        <div class="pop-art">
          <h3>Pop Art</h3>
          <h3>1956-1960</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/pop_art.jpg">
              <p class="art-movement-description">Pop Art was the dominant movement in early 1960s American art. Short for “popular art,” it featured common household objects and consumer products like Coca-Cola and Campbell’s Soup cans, as well as forms of media—such as comics, newspapers, and magazines—recognizable to the masses. Artists often created Pop works using mechanical or commercial techniques, such as silk-screening. As <a href="http://localhost:3000/search?search=Andy+Warhol">Andy Warhol</a> suggested, the choice of mundane subject matter and machine-like techniques was a blunt rejection of the heroic subjects and methods of Abstract Expressionism, the leading American movement of the 1950s. Not often discussed is the fact that Pop Art originated in England and paralleled similar movements in France and Germany. Pop Art was incredibly diverse in its international variants: Nouveau Réalisme in France, and Capitalist Realism in Germany, and Anti-Art in Japan.
              <a href="https://api.artsy.net/api/genes/4e5e41670d2c670001030350">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-42" />
        <label for="group-01-42">Postminimalism</label>
        <div class="postminimalism-art">
          <h3>Postminimalism</h3>
          <h3>1966-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/postminimalism.jpg">
              <p class="art-movement-description">A style that evolved as a reaction to Minimalism during the late 1960s and early 1970s. It is characterized by an emphasis on process and conception over the finished object, the demystification of the artistic process through the employment of chance methods, and the use of nontraditional, ‘poor’ materials, such as latex and felt. The term was coined by the art historian and critic Robert Pincus-Witten to describe the artistic tendency evinced in pieces in the 1966 exhibition “Eccentric Abstraction,” curated by Lucy Lippard.
              <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a5000066">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-43" />
        <label for="group-01-43">Abstract Illusionism</label>
        <div class="abstract-illusionism-art">
          <h3>Abstract Illusionism</h3>
          <h3>1970-1979</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/abstract_illusionism.jpg">
              <p class="art-movement-description">Art critic Barbara Rose identified a trend in painting in which abstract works were rendered with a sense of perspective, depth, and shadow. Rose named this development Abstract Illusionism, calling attention to the fact that painting, albeit still abstract, was returning to its long history of depicting space. This was a notable shift following the prominence of post-painterly abstraction in the 1960s, famously championed by art critic Clement Greenberg, which emphasized the flatness of the painting support. Rose’s term has been linked to <a href="http://localhost:3000/search?search=Frank+Stella">Frank Stella</a>, <a href="http://localhost:3000/search?search=Jules+Olitski">Jules Olitski</a>, <a href="http://localhost:3000/search?search=Walter+Darby+Bannard">Walter Darby Bannard</a>, <a href="http://localhost:3000/search?search=Ronald+Davis">Ronald Davis</a>, and <a href="http://localhost:3000/search?search=James+Havard">James Havard</a>, who combine elements of Abstract Expressionism and hard-edge abstraction with trompe-l’oeil effects.
              <a href="https://api.artsy.net/api/genes/54ee5d207261695358310200">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-44" />
        <label for="group-01-44">Color Field Painting</label>
        <div class="color-field-painting-art">
          <h3>Color Field Painting</h3>
          <h3>1947-1965</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/color_field_painting.jpg">
              <p class="art-movement-description">A style characterized by large, highly simplified compositions in which the use of color is independent of line and figuration. The term stems from Clement Greenberg’s 1955 description of the paintings being made by Barnett Newman, Clyfford Still, and Mark Rothko as comprising large fields of color. Historically, color-field painting represents one-half of Abstract Expressionism, with the ‘gestural abstraction’ of artists like <a href="http://localhost:3000/search?search=Jackson+Pollock">Jackson Pollock</a> and <a href="http://localhost:3000/search?search=Willem+de+Kooning">Willem de Kooning</a> representing the other half.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a500003a">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-45" />
        <label for="group-01-45">Gutai</label>
        <div class="gutai-art">
          <h3>Gutai</h3>
          <h3>1954-1972</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/gutai.jpg">
              <p class="art-movement-description">Founded by <a href="http://localhost:3000/search?search=Jiro+Yoshihara">Yoshihara Jirō</a> in 1954, its name translates as “concrete,” a reflection of the artists’ desire to push beyond the abstract painting of the day with experiments in pure materiality. Using everything from mud and Elmer’s glue to plastic tubing and sound art, these artists strove to create new, vital experiences that blurred the boundaries between art and life. For a nation recently defeated in World War II and emerging from the shadow of totalitarianism, Gutai’s call for vitality, play, and new artistic frontiers served as a jolt to a culture of consensus. Gutai has often been cited as a precursor to Arte Povera and performance art of the 1960s.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a500004a">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-46" />
        <label for="group-01-46">Fluxus</label>
        <div class="fluxus-art">
          <h3>Fluxus</h3>
          <h3>1959-1978</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/fluxus.jpg">
              <p class="art-movement-description">An international group of artists working between the 1960s and early 1970s who renounced traditional forms of music and theater and instead explored the mundane and chance aspects of sound, film, and performance, evoking the rebelliousness of Dada. Although the American artist and composer <a href="http://localhost:3000/search?search=George+Maciunas">George Maciunas</a> in 1962 published a manifesto explaining the movement’s experimental aspects under the rubric Neo-Dada, Fluxus resisted a formal agenda, spreading largely through spontaneous protean events referred to as happenings.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000045">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-47" />
        <label for="group-01-47">Happenings</label>
        <div class="happenings-art">
          <h3>Happenings</h3>
          <h3>1958-1972</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/happenings.jpg">
              <p class="art-movement-description">A type of performance art promoted by <a href="http://localhost:3000/search?search=Allan+Kaprow">Allan Kaprow</a> in the late 1950s that combined poetry, dance, music, painting, and theater and had its roots in Futurist and Dadaist performance, although Kaprow also cited <a href="http://localhost:3000/search?search=Jackson+Pollock">Jackson Pollock</a>’s dynamic painting process (rather than his finished works) as a major inspiration. During the 1960s, when the term was often applied to various types of public-art events, Kaprow was joined in creating Happenings by such artists as <a href="http://localhost:3000/search?search=Claes+Oldenburg">Claes Oldenburg</a>, <a href="http://localhost:3000/search?search=Red+Grooms">Red Grooms</a>, and <a href="http://localhost:3000/search?search=Jim+Dine">Jim Dine</a>.
              <a href="https://api.artsy.net/api/genes/4de7b837facfc00001005eb7">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-48" />
        <label for="group-01-48">Hard-Edged</label>
        <div class="hard-edged-art">
          <h3>Hard-Edged</h3>
          <h3>1959-1971</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/hard_edged.jpg">
              <p class="art-movement-description">A term originating in the late 1950s for abstract paintings characterized by sharply defined geometric areas of flat colors conveying little or no depth, such as works by <a href="http://localhost:3000/search?search=Ellsworth+Kelly">Ellsworth Kelly</a>, <a href="http://localhost:3000/search?search=Kenneth+Noland">Kenneth Noland</a>, <a href="http://localhost:3000/search?search=Ad+Reinhardt">Ad Reinhardt</a>, and <a href=http://localhost:3000/search?search=Barnett+Newman>Barnett Newman</a>. In addition to historical paintings, this term can be used to describe the appearance of contemporary works as well as sculptures.
              <a href="https://api.artsy.net/api/genes/4e5ff542e890b100010800ee">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-49" />
        <label for="group-01-49">Installation Art</label>
        <div class="installation-art">
          <h3>Installation Art</h3>
          <h3>1970-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/installation_art.jpg">
              <p class="art-movement-description">A three-dimensional artwork meant to transform a viewer's experience of interior space, through a combination of mediums, interactivity, and immersive elements.
              <a href="https://api.artsy.net/api/genes/4d90d18edcdd5f44a500000e">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-50" />
        <label for="group-01-50">Minimalism</label>
        <div class="minimalism-art">
          <h3>Minimalism</h3>
          <h3>1959-1979</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/minimalism.jpg">
              <p class="art-movement-description">One of the most important and influential art styles of the 1960s, Minimalism identifies works of art most often comprised of geometric shapes in simple arrangements and lacking any decorative or dynamic flourishes. These geometric shapes characterized the elemental or “bare bones” forms of art, which, according to critics, represented the culmination of modern art's progression toward the most simplified form of abstract art possible. <a href="http://localhost:3000/search?search=Donald+Judd">Donald Judd</a>, <a href="http://localhost:3000/search?search=Dan+Flavin">Dan Flavin</a>, and <a href="http://localhost:3000/search?search=Carl+Andre">Carl Andre</a> are among the best-known artists associated with Minimalism, which is characteristically associated with sculpture rather than painting. Minimalism’s roots arguably lie in Russian Constructivism, the paintings of postwar American artists such as <a href="http://localhost:3000/search?search=Barnett+Newman">Barnett Newman</a>, <a href="http://localhost:3000/search?search=Ad+Reinhardt">Ad Reinhardt</a>, and <a href="http://localhost:3000/search?search=Frank+Stella">Frank Stella</a>.
              <a href="https://api.artsy.net/api/genes/52277c8eebad644d28000523">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-51" />
        <label for="group-01-51">Photorealistic</label>
        <div class="photorealistic-art">
          <h3>Photorealistic</h3>
          <h3>1965-Present</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/photorealistic.jpg">
            <p class="art-movement-description">Though it has come to refer generally to q painting that emulates the look of photographs, typically with hyper-realistic clarity, the term "photorealistic" traces its roots to Photorealism, the American art movement of the 1960s and ’70s. An outgrowth of Pop Art, Photorealism is most closely associated with artists who replicate the highly-focused look of well-composed, sharply-focused photographs, such as <a href="http://localhost:3000/search?search=Chuck+Close">Chuck Close</a>, <a href="http://localhost:3000/search?search=Richard+Estes">Richard Estes</a>, and <a href="http://localhost:3000/search?search=Malcolm+Morley">Malcolm Morley</a>. However, in Europe, artists like <a href="http://localhost:3000/search?search=Gerhard+Richter">Gerhard Richter</a> and <a href="http://localhost:3000/search?search=Franz+Gertsch">Franz Gertsch</a> have likewise been referred to as photorealists, but for a different reason: the hazy quality and unexpected angles in their candid portraits resemble casual, often blurred snapshots.
            <a href="https://api.artsy.net/api/genes/4d90d192dcdd5f44a5000061">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-52" />
        <label for="group-01-52">Land Art</label>
        <div class="land-art">
          <h3>Land Art</h3>
          <h3>1960-1970</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/land_art.png">
            <p class="art-movement-description">A shortening of "landscape art,” used interchangeably with Earthworks to refer to pieces made of materials derived from the earth or situated on or within a landscape. Such works are usually site specific—created for and utilizing aspects or characteristics of a particular location. Both American and European artists began to use dirt, rocks, and sand as media and subject matter in the late 1960s, experimenting with diverse approaches.
            <a href="https://api.artsy.net/api/genes/4df3cbc15786ea0001001f50">More Info</a></p>
          </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-53" />
        <label for="group-01-53">Nouveau Réalisme</label>
        <div class="nouveau-realisme-art">
          <h3>Nouveau Réalisme</h3>
          <h3>1960-1970</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/nouveau_realisme.jpg">
              <p class="art-movement-description">A movement founded in France in 1960 by the art critic Pierre Restany as a response to American Neo-Dada and Pop Art. Nouveau Réalistes, including most prominently <a href="http://localhost:3000/search?search=Yves+Klein">Yves Klein</a>, worked in a wide variety of forms, including painting, collage, assemblage, happenings, and installation.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a500005c">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-54" />
        <label for="group-01-54">Body Art</label>
        <div class="body-art">
          <h3>Body Art</h3>
          <h3>1961-1980</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/body_art.jpg">
              <p class="art-movement-description">The use of the human body as the basis for performance art by such practitioners as <a href="http://localhost:3000/search?search=Vito+Acconci">Vito Acconci</a>, <a href="http://localhost:3000/search?search=Marina+Abramovic">Marina Abramovic</a>, <a href="http://localhost:3000/search?search=Chris+Burden">Chris Burden</a>, and the Vienna Actionists. Characterized by transgression, violence, and endurance, the practice began in the 1960s and 1970s, with connections to <a href="http://localhost:3000/search?search=Marcel+Duchamp">Marcel Duchamp</a>’s performative works, <a href="http://localhost:3000/search?search=Jackson+Pollock">Jackson Pollock</a>’s painting process, and <a href="http://localhost:3000/search?search=Allan+Kaprow">Allan Kaprow</a>’s 1960s Happenings.
              <a href="https://api.artsy.net/api/genes/4d90d190dcdd5f44a5000037">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-55" />
        <label for="group-01-55">Arte Povera</label>
        <div class="arte-povera-art">
          <h3>Arte Povera</h3>
          <h3>1962-1972</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/arte_povera.jpg">
              <p class="art-movement-description">An Italian variant of Conceptualism during the late 1960s and early 1970s that was linked to the political radicalism of the period, which reached its zenith with the student uprisings of 1968. It was marked by an attempt to rescue individuals from the stifling effects of consumer culture and, according to Arte Povera pioneer Germano Celant, the group’s critical mouthpiece, the attempt to break down the separation between art and life. Arte Povera works were either happenings or sculptures that were created with unglamorous everyday materials and often displayed surprising juxtapositions.
              <a href="https://api.artsy.net/api/genes/4d90d18fdcdd5f44a500002f">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-56" />
        <label for="group-01-56">Viennese Actionism</label>
        <div class="viennese-actionism-art">
          <h3>Viennese Actionism</h3>
          <h3>1961-1971</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/viennese_actionism.jpg">
              <p class="art-movement-description">Viennese Actionism emerged in Austria in the 1960s around its founding member, <a href="http://localhost:3000/search?search=Hermann+Nitsch">Hermann Nitsch</a>, whose elaborate,­ ritualisti­c performances were a shocking combination of sexuality,­ moral taboos, violence, and disgust. Drawing on religious symbolism,­ Actionist events frequently incorporated animal slaughter and bodily fluids and were interprete­d as an aggressive­ assault on mainstream­ culture, attracting­ the attention of the authorities and leading to the criminal prosecutio­n of some of the group’s members. Through primarily active as performance artists, members like Nitsch and <a href="http://localhost:3000/search?search=Otto+Muehl">Otto Muehl</a> also translated­ their interest in the extremes of the creative act to gestural, if not violent, painting.
              <a href="https://api.artsy.net/api/genes/4d90d195dcdd5f44a50000b2">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-57" />
        <label for="group-01-57">Op Art</label>
        <div class="op-art">
          <h3>Op Art</h3>
          <h3>1964-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/op_art.jpg">
              <p class="art-movement-description">A 1960s Minimalist painting style that subordinated other aesthetic considerations to optical effects achieved with all-over geometric forms, using a technique based on research in color theory and perception.
              <a href="https://api.artsy.net/api/genes/4dcdf2c98080ad0001003a32">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-58" />
        <label for="group-01-58">Conceptual Art</label>
        <div class="conceptual-art">
          <h3>Conceptual Art</h3>
          <h3>1965-Present</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/conceptual_art.jpg">
              <p class="art-movement-description">Works in which the idea, planning, and production process are more important than the result. The term gained currency in the 1960s as a result of Sol LeWitt’s 1967 article "Paragraphs on Conceptual Art" in Artforum. Conceptual art can take many forms, including, most frequently, descriptions and seemingly objective photographic documentation. The use of Conceptualism in Contemporary practice is often referred to as Contemporary Conceptualism.
              <a href="https://api.artsy.net/api/genes/4d90d194dcdd5f44a50000af">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-59" />
        <label for="group-01-59">Feminist Art</label>
        <div class="feminist-art">
          <h3>Feminist Art</h3>
          <h3>1968-Present</h3>
          <div class="art-movement-image-and-description">
            <img class="art-movement-image" src="images/feminist.jpg">
            <p class="art-movement-description">Works created from the late 1960s through the early ’70s that focused on women’s lives and experiences—primarily in domestic contexts—building on the so-called second wave of feminism. The term encompasses a wide range of approaches, including collaborative installations and performance.
            <a href="https://api.artsy.net/api/genes/4d90d193dcdd5f44a500008d">More Info</a></p>
          </div>
        </div>
            </li>

      <li>
        <input type="radio" name="group-01" id="group-01-60" />
        <label for="group-01-60">The Pictures Generation</label>
        <div class="the-pictures-generation-art">
          <h3>The Pictures Generation</h3>
          <h3>1974-1984</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/the_pictures_generation.jpg">
              <p class="art-movement-description">A group of artists that emerged in the 1970s and ’80s whose works were united by the appropriation of images from mass media. Plucking images from television, film, and advertising, these artists produced work in a wide range of styles, including photography, film, video, and performance. The 1977 exhibition "Pictures" at Artists Space in New York, curated by Douglas Crimp, as well as Crimp’s associated essay, were seminal in defining the movement.
              <a href="https://api.artsy.net/api/genes/4dcaa9ad1257f4000100040e">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-61" />
        <label for="group-01-61">Neo-Expressionism Art</label>
        <div class="neo-expressionism-art">
          <h3>Neo-Expressionism</h3>
          <h3>1979-1994</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/neoexpressionism.jpg">
              <p class="art-movement-description">A style of painting—and, to a lesser extent, sculpture—that emerged in the early 1980s, characterized by a return to figuration in expressive, gestural, and sometimes brashly aggressive works. Though most closely associated with a group of New York-based artists that included <a href="http://localhost:3000/search?search=Julian+Schnabel">Julian Schnabel</a>, <a href="http://localhost:3000/search?search=David+Salle">David Salle</a>, and <a href="http://localhost:3000/search?search=Eric+Fischl">Eric Fischl</a>. Neo-Expressionism signaled a break away from the intellectual distance, abstraction, and formalism of Conceptual art, the predominant movement of the 1970s.
              <a href="https://api.artsy.net/api/genes/4d90d191dcdd5f44a5000059">More Info</a></p>
            </div>
        </div>
      </li>

      <li>
        <input type="radio" name="group-01" id="group-01-62" />
        <label for="group-01-62">Young British Artists</label>
        <div class="yba-art">
          <h3>Young British Artists</h3>
          <h3>1987-2010</h3>
            <div class="art-movement-image-and-description">
              <img class="art-movement-image" src="images/yba.jpg">
              <p class="art-movement-description">A group primarily active during the 1990s, although the label—which derives from a series of exhibitions mounted in the mid-1990s at London’s Saatchi Gallery—is still applied to some of its major members, such as <a href="http://localhost:3000/search?search=Damien+Hirst">Damien Hirst</a>, <a href="http://localhost:3000/search?search=Tracey+Emin">Tracey Emin</a>, and <a href="http://localhost:3000/search?search=Jake+Chapman">Jake</a> and <a href="http://localhost:3000/search?search=Dinos+Chapman">Dinos Chapman</a>. Most were educated at the Goldsmiths school of the University of London and introduced in the 1988 <a href="http://localhost:3000/search?search=Damien+Hirst">Damien Hirst</a>–curated exhibition “Freeze.” The YBAs drew stylistically from Minimalism and Conceptualism and often focused on the darker aspects of contemporary life.
              <a href="https://api.artsy.net/api/genes/4d90d193dcdd5f44a5000079">More Info</a></p>
            </div>
        </div>
      </li>
    </ul>
  </form>
</div>
