<html>
  <section class="art-movement-timeline">
    <div class="pre-modern art">
      <h1>Pre-Modern Art</h1>
        <div class="ancient-art">
          <h2>Ancient Art</h2>
          <h2>Before 500 - Ancient Art</h2>
        </div>

        <div class="medieval-art">
          <h2>Medieval Art</h2>
          <h2>500-1550</h2>
        </div>

        <div class="renaissance-art">
          <h2>Renaissance Art</h2>
          <h2>1400-1600</h2>
        </div>

        <div class="baroque-art">
          <h2>Baroque Art</h2>
          <h2>1600-1725</h2>
        </div>

        <div class="rococo-art">
          <h2>Rococo Art</h2>
          <h2>1720-1760</h2>
        </div>

        <div class="neoclassical-art">
          <h2>Neoclassical Art</h2>
          <h2>1760-1830</h2>
        </div>

        <div class="romanticism-art">
          <h2>Romanticism Art</h2>
          <h2>1800-1850</h2>
        </div>

        <div class="academic-art">
          <h2>Academic Art</h2>
          <h2>1800-1899</h2>
        </div>

        <div class="realism-art">
          <h2>Realism Art</h2>
          <h2>1840-1870</h2>
        </div>

        <div class="pre-raphaelite-art">
          <h2>Pre-Raphaelite Art</h2>
          <h2>1848-1854</h2>
        </div>
      </div>

      <div class="modern-art">

        <div class="impressionism-art">
          <h2>Impressionism</h2>
          <h2>1870-1900</h2>
        </div>

        <div class="post-impressionism-art">
          <h2>Post-Impressionism</h2>
          <h2>1880-1920</h2>
        </div>

        <div class="symbolism-art">
          <h2>Symbolism</h2>
          <h2>1880-1910</h2>
        </div>

        <div class="fauvism-art">
          <h2>Fauvism</h2>
          <h2>1905-1908</h2>
        </div>

        <div class="expressionism-art">
          <h2>Expressionism</h2>
          <h2>1905-1925</h2>
        </div>

        <div class="cubism-art">
          <h2>Cubism</h2>
          <h2>1908-1920</h2>
        </div>

        <div class="futurism-art">
          <h2>Futurism</h2>
          <h2>1909-1918</h2>
        </div>

        <div class="abstract-art">
          <h2>Abstract Art</h2>
          <h2>1910-Present</h2>
        </div>

        <div class="dada-art">
          <h2>Dada Art</h2>
          <h2>1916-1923</h2>
        </div>

    </div>
  </section>
</html>



