


<section class="demo-5">

  <main class="main-wrap">
      <div class="search-wrap">
        <button id="btn-search" class="btn btn--search"><svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg></button>
      </div>
  </main>
  <div class="search">
    <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
    <form class="search__form" action="/search" method="GET">
      <input class="search__input" type="search" name="search" id="autocomplete" placeholder= "ARTSTORY" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
      <span class="search__info">Hit enter to search</span>
    </form>
    <div class="search__related">
      <div class="search__suggestion">
        <h3>Search for an Artist</h3>
        <p>Vincent Van Gogh</p>
      </div>
      <div class="search__suggestion">
        <h3>Search for an Artwork</h3>
        <p>The Old Violin</p>
      </div>
    </div>
  </div>
</section>


