<form method="get" action="/search">
  <input class="search__input" type="text" name="search" id="autocomplete" placeholder="What are you curious about?" autocomplete="off">
  <button type="submit">Search</button>
</form>

