<section class="search">
<form method="get" action="/search">
  <input type="text" name="search" id="autocomplete" placeholder="What are you curious about?" autocomplete="off">
  <button type="submit">Search</button>
</form>
<p id="value"></p>
</section>
