<section class="search">
<form method="get" action="/search">
  <input type="text" name="search" id="autocomplete" placeholder="What are you curious about?" autocomplete="off">
  <button type="submit">Search</button>
</form>

<!-- auto-fill search results populate here -->
<div id="value"></div>
<div id="error-area"></div>
</section>

