<% var firstResult = "Pablo Picasso" %>
<% var secondResult = "Cindy Sherman" %>
<% var thirdResult = "Rembrandt" %>
<div class="similar_artists">
  <ul>
    <li class="first-result"><%= firstResult %></li>
    <li class="second-result"><%= secondResult %></li>
    <li class="third-result"><%= thirdResult %></li>
  </ul>
</div>
