<!DOCTYPE html>
<html lang="en" class="js gr__tympanus_net">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/index-searchbar.css">
  <link rel="stylesheet" href="/vendor/index-demo.css">
  <link rel="stylesheet" href="/vendor/index-jquery_ui.css">
<head>



</head>
<body>

<%- include partials/_index.ejs %>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/index-searchbar.js"></script>

</body>
</html>
