<!DOCTYPE html>
<html lang="en" class="js gr__tympanus_net">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/styles/searchbar.css">
  <link rel="stylesheet" href="/styles/demo.css">
  <link rel="stylesheet" href="/vendor/jquery_ui.css">

</head>
<body class="demo-5">
  <main class="main-wrap">
      <div class="search-wrap">
        <button id="btn-search" class="btn btn--search"><svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg></button>
      </div>
  </main><!-- /main-wrap -->
  <div class="search">
    <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
    <form class="search__form" action="/search" method="GET">
      <input class="search__input" type="search" name="search" id="autocomplete" placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
      <span class="search__info">Hit enter to search</span>
    </form>
    <div class="search__related">
      <div class="search__suggestion">
        <h3>Search for an Artist</h3>
        <p>Vincent Van Gogh or Gustav Klimt</p>
      </div>
      <div class="search__suggestion">
        <h3>Search for an Artwork</h3>
        <p>The Old Violin or The Kiss</p>
      </div>
    </div>
  </div><!-- /search -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/searchbar.js"></script>
</body>
</html>
