 <!DOCTYPE HTML>
<html>
<head>
    <script src="/scripts/vis.js"></script>

    <link href="/styles/vis.css" rel="stylesheet" type="text/css" />

</head>
<body>

<%=(filtered_results)%>
 <%=JSON.stringify(filtered_results)%>


<div id="visualization"></div>

<script type="text/javascript">
  var artist_name = "Andy Warhol"
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet(<%-JSON.stringify(filtered_results)%>);

  items.add([<%- include partials/_art-movement-timeline.ejs %>]);
  // Configuration for the Timeline
  var options = {
    maxHeight: '500px',
    min: new Date(-4000, 0, 1),
    // max: '4000',
    format: {
      minorLabels: function(date, scale, step) {
        let year = date.year();
        let output = '';
        switch (scale) {
          case 'year':
            output = Math.abs(date.format('YYYY'));
            output += (year < 0) ? 'BC' : '';
            break;
        }

        // if (scale === 'year') {
        //   output += (year < 0) ? 'BC' :'AD';
        // }
        console.log('major labels function called with:', arguments);
        return output;
      }
    },
    // timeAxis: {
    //   scale: 'year', step: 500
    // }
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);

</script>


</body>
</html>

