<!DOCTYPE html>
<html lang="en" class="js gr__tympanus_net">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/vis.css" >
  <link rel="stylesheet" href="/styles/timeline.css">
  <link rel="stylesheet" href="/vendor/animate.css">
  <link rel="stylesheet" href="/styles/art-movement-timeline.css">
  <link rel="stylesheet" href="/vendor/timeline-demo.css">
  <link rel="stylesheet" href="/vendor/timeline-searchbar.css">
  <link rel="stylesheet" href="/vendor/timeline-jquery_ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="/scripts/vis.js"></script>
  <script src="/scripts/wikipedia.js"></script>
</head>
<body>
  <%- include partials/_search-bar.ejs %>
  <div class="artist">
    <div id="thumbnail"> </div>
    <div id="name"></div>
    <div id="artist"></div>
    <div id="summary"></div>
    <div id="medium"></div>
    <div id="wikiLink"></div>
  </div>
  <div id="visualization"></div>
  <script type="text/javascript">
    var groupNames = ["artwork","artist","movement"];
    var groups = new vis.DataSet();
    for(var g = 0; g < groupNames.length; g++) {
      groups.add({id: g, content: groupNames[g]});
    }
    // DOM element where the Timeline will be attached
    var container = document.getElementById("visualization");
    var data = <%- JSON.stringify(similars, null, 2) %>;
    var info = <%- JSON.stringify(info)%>;
    var movements = <%- include partials/_art-movements.ejs %>;
    function flatten(arr) {
      return arr.reduce(function(flat, toFlatten) {
        return flat.concat(
          Array.isArray(toFlatten) ? flatten(toFlatten) : toFlatten
        );
      }, []);
    }
    var full_data = flatten([data, movements]);
    for(var thing_id in full_data) {
      full_data[thing_id].group = groupNames.indexOf(full_data[thing_id].group);
    }

    var all_data = new vis.DataSet (full_data);
    var start =   (+info.birthday || +info.date) - 50;
    var end = +info.end + 50 || +info.date + 50;
    var options = {
      verticalScroll: false,
      zoomable: false,
      zoomMin: 31556952000,
      min: new Date(-4000, 0, 1),
      max: new Date(),
      start: new Date(start, 0, 1),
      end: new Date(end, 0, 1),
      format: {
        minorLabels: function(date, scale, step) {
          var year = date.year();
          var output = "";
          switch (scale) {
            case "year":
            output = Math.abs(date.format("YYYY"));
            output += (year < 0) ? "BC" : "";
          break;
          }
          return output;
        }
      },
      dataAttributes: ["id", "content", "thumbnail", "medium", "group", "artist"]
    };
    // Create a Timeline
    var timeline = new vis.Timeline(container, all_data, groups, options);
    var selectedId = info.id;
    var thumbnailUrl = info._links.thumbnail.href;
    var mediumArtwork = info.medium;
    var nameTitle = info.name || info.title.replace(/"&#9679"/g, "");
    var titleToSlug = nameTitle.replace(/\s/g, "-").toLowerCase();
    var artistName = info.slug.replace(titleToSlug, "").replace(/-/g, " ");
    function makeTitle(artistName) {
      var words = artistName.split(" ");
      $.each(words, function(index, word){
        words[index] = word.charAt(0).toUpperCase() + word.slice(1);
      });
      return words.join(" ");
    }
    if(selectedId !== undefined){
      document.getElementById("thumbnail").innerHTML = "<img src='" + thumbnailUrl + "'> ";
      if(mediumArtwork){
        document.getElementById("medium").innerHTML = "<div>" + mediumArtwork + "</div> "
        document.getElementById("artist").innerHTML = "<div>" + makeTitle(artistName) + "</div> "
      } else {
        document.getElementById("medium").innerHTML = "<div></div> "
      }
      var modfiedName = nameTitle.replace(/\s/g, "+");
      if(mediumArtwork){
        document.getElementById("name").innerHTML = "<div>" + info.title; + "</div>"
      } else {
        document.getElementById("name").innerHTML = "<div><a href='/search?search=" + modfiedName + "'>" + nameTitle + "</a></div>"
      }
      function getById(datum){
        return datum.id === selectedId;
      }
    }
    var wikiQuery = (info.name || info.title).replace(/ /g, "_");
    WIKIPEDIA.getData("http://en.wikipedia.org/wiki/" + wikiQuery, function success(wikiData) {
      var artistSummary = wikiData.summary && wikiData.summary.summary;
      if(artistSummary){
        document.getElementById("summary").innerHTML = "<div>" + artistSummary + "</div> "
        var newWikiQuery = wikiQuery.replace(/'/g, "%27");
        var wikiLink = "http://en.wikipedia.org/wiki/"+ newWikiQuery;
        document.getElementById("wikiLink").innerHTML = "<a href='" + wikiLink + "'>"+ "More Info" +"</a>"
      } else {
        document.getElementById("summary").innerHTML = "<div> Could not find summary at this time</div> "
        document.getElementById("wikiLink").innerHTML = "<a href=''></a>"
      }
    });
    timeline.on("select", function (properties) {
      var selected = $(properties.event.firstTarget).parents("[data-id]")[0];
      var selectedId = selected.dataset.id;
      var thumbnailUrl = selected.dataset.thumbnail;
      var mediumArtwork = selected.dataset.medium;
      var nameTitle = selected.dataset.content.replace(/&#9679/g, "");
      var artist = selected.dataset.artist
      if(selectedId !== undefined){
        document.getElementById("thumbnail").innerHTML = "<img src='" + thumbnailUrl + "'> ";
        if(mediumArtwork){
          document.getElementById("medium").innerHTML = "<div>" + mediumArtwork + "</div> "
          document.getElementById("artist").innerHTML = "<div>" + artist + "</div> "
        } else {
          document.getElementById("medium").innerHTML = "<div></div> "
          document.getElementById("artist").innerHTML = "<div></div> "
        }
        var modfiedName = nameTitle.replace(/\s/g, "+");
        if(mediumArtwork){
          document.getElementById("name").innerHTML = "<div>" + nameTitle + "</div>"
        } else {
          document.getElementById("name").innerHTML = "<div><a href='/search?search=" + modfiedName + "'>" + nameTitle + "</a></div>"
        }
        function getById(datum){
          return datum.id === selectedId;
        }
        var wikiQuery = $(selected).find(".vis-item-content").text().replace(/ /g, "_");
        try {
          WIKIPEDIA.getData("http://en.wikipedia.org/wiki/" + wikiQuery, function success(wikiData) {
            var artistSummary = wikiData.summary && wikiData.summary.summary;
            if(selected.dataset.group === "1"){
              if(artistSummary){
                document.getElementById("summary").innerHTML = "<div>" + artistSummary + "</div> "
                var wikiLink = "http://en.wikipedia.org/wiki/"+ wikiQuery;
                document.getElementById("wikiLink").innerHTML = "<a href='" + wikiLink + "' target='_blank'>"+ "More Info" +"</a>"
              } else {
                document.getElementById("summary").innerHTML = "<div> Could not find summary at this time</div> "
                document.getElementById("wikiLink").innerHTML = "<a href=''></a>"
              }
            } else {
                document.getElementById("summary").innerHTML = "<div> </div> "
                document.getElementById("wikiLink").innerHTML = "<a href=''></a>"
            }
          },
          function wikiError(err) {
          });
        }
        catch (err) {
        }
      }
    })
  </script>
  <% include partials/_art-movement-timeline.ejs %>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/timeline-searchbar.js"></script>
</body>
</html>