.overflow-x-auto {
  overflow-x: auto;
  height: 20em;
}

.horizontal-accordion {
  display: flex;
  height: 20em;
  border-top: solid, 1px, grey;
}

.horizontal-accordion-item {
  display: flex;
}

.horizontal-accordion-item.active .horizontal-accordion-item-details {
  width: 40em;
  border-top: solid, 1px, grey;
}

.horizontal-accordion-item-details {
  overflow: hidden;
  transition: 500ms;
  width: 0;
  border-right: 1px solid;
}

.horizontal-accordion-item-details-content {
  white-space: normal;
  width: 300px;
}

.horizontal-accordion-item-heading {
  width: 2em;
  letter-spacing: .1em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  color: black;
  padding: .25em;
  cursor: pointer;
}

.horizontal-accordion-item-details-date {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top right;
  text-align: right;
  white-space: nowrap;
  padding-right: 1.2em;
  font-family: Helvetica, sans-serif;
  letter-spacing: .1em;
  padding-top: .2em;
  background-color: black;
  color: white;
  padding-bottom: .2em;
}

p.art-movement-description {
  font-size: 84%;
  height: 10em;
  font-family: Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.2;
  margin-top: -0.2em;
  margin-right: 2em;
  margin-left: 3.4em;
}

img.art-movement-image {
  float: left;
  margin-left: 3em;
  margin-right: 1em;
  height: 13em;
}

div.horizontal-accordion-item-details-content {
  width: 40em; /* the width of the expanded panel */
  opacity: 1;
}

.horizontal-accordion-item-heading-rotated {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top right;
  text-align: right;
  width: 16em;
  padding-right: 1em;
  font-family: Helvetica;
  font-weight: bolder;
  padding-top: .4em;
}

div.horizontal-accordion-item-heading a:hover {
  background: #e02f1c;
  transition: .3s all ease-in-out;
}

.movement-padding {
  margin-right: 4.75em;
  margin-left: 4.75em;
}

.active div.horizontal-accordion-item-heading {
  background: #e02f1c;
  border: none;
}

a {
  cursor: pointer;
  color: black;
}

a:visited {
  color: grey;
}
