.overflow-x-auto {
  overflow-x: auto;
  height: 20em;
}

.horizontal-accordion {
  display: flex;
  height: 20em;
  border-top: solid, 1px, grey;
}

.horizontal-accordion-item {
  display: flex;
}

.horizontal-accordion-item.active .horizontal-accordion-item-details {
  width: 40em;
  border-top: solid, 1px, grey;
}

.horizontal-accordion-item-details {
  overflow: hidden;
  transition: 500ms;
  width: 0;
}

.horizontal-accordion-item-details-content {
  white-space: normal;
  width: 300px;
}

.horizontal-accordion-item-heading {
  width: 2em;
  letter-spacing: .1em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  color: black;
  padding: .25em;
  cursor: pointer;
}

.horizontal-accordion-item-details-date {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top right;
  text-align: right;
  white-space: nowrap;
  padding-right: 1.2em;
  font-family: Helvetica, sans-serif;
  letter-spacing: .1em;
  padding-top: .2em;
  background-color: black;
  color: white;
  padding-bottom: .2em;
}

p.art-movement-description {
  font-size: 85%;
  X: 10em;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 2.2em;
}

img.art-movement-image {
  height: 16em;
  padding-left: 2em;
  padding-right: 1em;
  float: left;
}

.horizontal-accordion-item-details-flex {
  padding-right: .5em;
  padding-left: .5em;
}

div.horizontal-accordion-item-details-content {
  width: 40em; /* the width of the expanded panel */
  height: 20em;
  opacity: 1;
}

.horizontal-accordion-item-heading-rotated {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: top right;
  text-align: right;
  width: 16em;
  padding-right: 1em;
  font-family: Helvetica;
  font-weight: bolder;
  padding-top: .2em;
}

div.horizontal-accordion-item-heading a:hover {
  transition: .3s all ease-in-out;
}

.movement-padding {
  margin-right: 4.75em;
  margin-left: 4.75em;
}

.active div.horizontal-accordion-item-heading {
  background: #e02f1c;
  border-bottom: 1px #e02f1c solid;
}

a {
  cursor: pointer;
}

div.horizontal-accordion-item-heading.ancient-art {
  border-right: 2px #ee8012 solid;
}

div.horizontal-accordion-item-heading.medieval-art {
  border-right: 2px #e02f1c solid;
}

div.horizontal-accordion-item-heading.renaissance {
  border-right: 2px #fddf1f solid;
}

div.horizontal-accordion-item-heading.post-renaissance {
  border-right: 2px #07b807 solid;
}

div.horizontal-accordion-item-heading.modern {
  border-right: 2px #00adef solid;
}

div.horizontal-accordion-item-heading.contemporary {
  border-right: 2px #a303a3 solid;
}

.active div.horizontal-accordion-item-heading.ancient-art {
  border-right: 2px #ee8012 solid;
  background: #ee8012;
}

.active div.horizontal-accordion-item-heading.medieval-art {
  border-right: 2px #e02f1c solid;
  background: #e02f1c;
}

.active div.horizontal-accordion-item-heading.renaissance {
  border-right: 2px #fddf1f solid;
  background: #fddf1f;
}

.active div.horizontal-accordion-item-heading.post-renaissance {
  border-right: 2px #07b807 solid;
  background: #07b807;
}

.active div.horizontal-accordion-item-heading.modern {
  border-right: 2px #00adef solid;
  background: #00adef;
}

.active div.horizontal-accordion-item-heading.contemporary {
  border-right: 2px #a303a3 solid;
  background: #a303a3;
}

div.horizontal-accordion-item-heading.ancient-art:hover {
  background: #ee8012;
}

div.horizontal-accordion-item-heading.medieval-art:hover {
  background: #e02f1c;
}

div.horizontal-accordion-item-heading.renaissance:hover {
  background: #fddf1f;
}

div.horizontal-accordion-item-heading.post-renaissance:hover {
  background: #07b807;
}

div.horizontal-accordion-item-heading.modern:hover {
  background: #00adef;
}

div.horizontal-accordion-item-heading.contemporary:hover {
  background: #a303a3;
}
