.container,
.container > form > ul > li > div,
.container > form > ul > li > label {
  overflow: hidden;

<<<<<<< HEAD
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container > form > ul, .container > form > ul > * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container > form > ul, .container > form > ul > li > div {
  height: 159px; /* height of the accordion */
}

.container, .container > form > ul > li > input:checked + label {
  background: #2f343a;
}

.container > form > ul > li > input, .container > form > ul > li > label {
  position: absolute;
}

.container > form > ul > li, .container > form > ul > li:last-child {
  border: solid 1px rgba(255, 255, 255, .75);
}

.container > form > ul > li > div, .container > form > ul > li > input {
  opacity: 0; /* we hide the radio button with opacity and position: absolute in order to preserve the keyboard arrow navigation */
}

.container {
  width: 964px;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 1px;
  cursor: default;
}

.container > form > ul > li > label {
  display: block;
  width: 159px; /* height of the accordion button */
  padding: 0 8px;
  letter-spacing: 1px;
  font: bold 14px/32px "Arial Rounded MT", Arial, Helvetica, Sans-serif;
  background: #e74c3c;
  color: #fff;
  text-align: right;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -moz-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -ms-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -o-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  transition: all .3s cubic-bezier(.09, .11, .24, .91);

  -webkit-transform: translateX(-100%) rotate(-90deg);
  -moz-transform: translateX(-100%) rotate(-90deg);
  -ms-transform: translateX(-100%) rotate(-90deg);
  -o-transform: translateX(-100%) rotate(-90deg);
  transform: translateX(-100%) rotate(-90deg);

  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container > form > ul > li > input:not(:checked) + label:hover {
  background: #e02f1c;
}

.container > form > ul > li > input:checked + label {
  border-bottom-color: transparent;
  color: rgba(255, 255, 255, .5);
}

.container > form > ul > li {
  float: left;
  padding: 0 32px 0 0;
  border-right: 0;
}

.container > form > ul > li > div {
  width: 0;
  font-size: 10px;
  color: #fff;
  margin: 0 -32px 0 32px;

  -webkit-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -moz-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -ms-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  -o-transition: all .3s cubic-bezier(.09, .11, .24, .91);
  transition: all .3s cubic-bezier(.09, .11, .24, .91);
}

.container > form > ul > li > input:checked ~ div {
  width: 763px; /* the width of the expanded panel */
  padding: 8px;
  overflow: auto;
  opacity: 1;
}

.container > form > ul > li > div h3 {
  font: inherit;
  font-size: 14px;
  border: 0;
}

.container > form > ul > li > div h3, .container > form > ul > li > div p {
  color: #fff;
}

.container > form > ul > li > div p {
  font-size: 11px;
=======
/*hides auto-fill default messages*/
.ui-helper-hidden-accessible {
  display: none;
}

.art-movement-image {
  width: 20%;
>>>>>>> b5a241c202d79f1618df1dc34838d36e33824a4c
}
