#visualization {
  font-family: Helvetica, sans-serif;
  padding-bottom: 2em;
  border-bottom: 2px solid black;
  margin-top: 2em;
}

div#name {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 500%;
  line-height: .8em;
  white-space: nowrap;
}

div#name a {
  text-decoration: none;
  color: black;
}

div#name a:hover {
  text-decoration: none;
  color: #e02f1c;
}

div#thumbnail {
  float: left;
  margin-right: 2em;
}
div#thumbnail img {
  height: 15em;
  box-shadow: 0 10px 10px #999999;

}

div#summary {
  font-family: Helvetica, sans-serif;
  font-size: 105%;
  line-height: 1.4;
  font-weight: bold;
}

div#wikiLink {
  font-family: Helvetica, sans-serif;
  font-size: 90%;
  padding-top: .5em;
  font-weight: bold;
}

div#wikiLink:link {
  color: #e02f1c;
  cursor: pointer;
}

div#medium {
  font-family: Helvetica, sans-serif;
  font-size: 90%;
  font-weight: bold;
}

.artist {
  padding-bottom: 3em;
  overflow: auto;
  padding-top: 3em;
  border-bottom: 2px solid;
  border-top: 2px solid;
}

.vis-item-content {
  cursor: pointer;
}

div#name a:hover {
  color: #e02f1c;
  cursor: pointer;
}

.vis-timeline {
  max-width: 100%;
  margin: 0;
}

div#artist {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: bold;
  padding-bottom: .4em;
  font-size: 138%;
  margin-top: 0.7em;
}

div#artist a:hover {
  text-decoration: none;
  color: #e02f1c;
  cursor: pointer;
}

header.crops-header {
  margin-left: -3.3em;
  margin-right: -3.3em;
}
